.right {float: right;}

tr.cmvl-category th {font-weight: bold; background: #e0e0e0; color: black;}
.cmvl-stats-user-table thead th:first-child, tr.cmvl-channel td:first-child {padding-left:2em;}
.cmvl-stats-user-table tr:nth-child(even) {background: #f6f6f6;}

.cmvl-pagination, .cmvl-pagination li {list-style: none; margin: 0; padding: 0;}
.cmvl-pagination li {display: inline-block;}
.cmvl-pagination a {display: inline-block; padding: 0.5em 1em; font-size: 14px; text-decoration: none; font-weight: bold; background: #f0f0f0; border: 1px solid #cccccc; color: #777777;}
.cmvl-pagination a:hover {color: black; border-color: #999999;}
.cmvl-pagination .current-page a {background: white; color: black;}
.cmvl-mp-cost-add {margin-top: 1em;}

.cmvl-get-pro {background: white; padding: 1em; width: 450px; border: solid 1px #dddddd; margin: 0 auto;}
.cmvl-get-pro, .cmvl-get-pro p {font-size: 110%;}
.cmvl-get-pro p {margin: 0;}
.cmvl-get-pro .center {text-align: center;}
.cmvl-get-pro a.button {font-size: 120%; font-weight: bold; padding: 0 2em; line-height: 2em; height: 2em; background: #006699; color: white; margin: 1em 0;}
.cmvl-pro-features {list-style: none;}
.cmvl-pro-features li {margin: 0;}
.cmvl-pro-features li:before {content: "\f147";
	display: inline-block;
	padding-right: 5px;
	-webkit-font-smoothing: antialiased;
	font: normal 30px 'dashicons';
	vertical-align: middle;
	color: #009900;
	cursor: default;
	
}

.cmvl-report-table td {height: 2em;}
.cmvl-report-row-filter {margin-left: 1em; display: none; border: 1px solid #cccccc; background: #f0f0f0; color: #333333; padding: 3px 0.5em; float: right; font-size: 10px;}
td:hover .cmvl-report-row-filter, .cmvl-report-row-filter:active {display: inline-block;}
.cmvl-report-table .cmvl-actions, .cmvl-report-table .cmvl-actions li {list-style: none; display: inline-block; margin: 0; padding: 0;}
.cmvl-report-table .cmvl-actions a {padding: 0 0.5em 0 0;}

.cmvl-subscription-add-form .inner {background: white; padding: 1em; margin-bottom: 1em; border: solid 1px #e0e0e0;}
.cmvl-subscription-add-form .inner.closed {display: none;}
.cmvl-subscription-add-form select {vertical-align: top;}
.cmvl-subscription-add-form input[type=text] {width: 8em;}
.cmvl-subscription-add-form input[type=number] {width: 5em;}
.cmvl-subscription-add-form label {margin-right: 1em;}
.cmvl-subscription-add-form input[type=submit] {padding-left: 1em; padding-right: 1em;}
.cmvl-subscription-add-form .cmvl-subscription-add-post {display: none;}